<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>03_listener_filter</display-name>
  
  <listener>
  	<listener-class>com.common.listener.ContextTestListener</listener-class>
  </listener>
  
  
  <!-- 
  	필터등록하기
  	<filter>태그가 있음 -> filter클래스를 등록하는 태그
  		자식태그 <filter-name>, <filter-class> 
	<filter-mapping>태그 -> 등록된 필터를 주소, serlvet이름으로 연결해주는 태그
		자식태그 <filter-name>, <url-pattern>
  -->
  
  <filter>
  	<filter-name>testfilter</filter-name>
  	<filter-class>com.common.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>testfilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>