<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RequestDispatcher</title>
<style>
	ul{
		list-style-type:none;
	}
	ul>li{
		margin-bottom:20px;
	}
</style>

</head>
<body>
	<h1>RequestDispatcher</h1>
	<h2>당신의 개인취향을 테스트합니다.</h2>
	<p>데이터 입력 후 확인 버튼을 누르세요!</p>
	<form action="/02_servletdata/dispatcherTest.do" method="post">
		<ul>
			<li>이름 <input type="text" name="name"></li>
			<li>나이 <input type="number" name="age"></li>
			<li>키 <input type="text" name="height"></li>
			<li>좋아하는색
				<label><input type="radio" name="color" value="cornflowerblue">시퍼런옥수수꽃색</label>
				<label><input type="radio" name="color" value="royalblue">로얄블루</label>
				<label><input type="radio" name="color" value="gold">골드</label>
				<label><input type="radio" name="color" value="deeppink">딥핑크</label>
				<label><input type="radio" name="color" value="green">녹색</label>
			</li>
			<li>좋아하는 음식
				<label><input type="checkbox" name="food" value="제육볶음">제육볶음</label>
				<label><input type="checkbox" name="food" value="가브리살">가브리살</label>
				<label><input type="checkbox" name="food" value="갈비">갈비</label>
				<label><input type="checkbox" name="food" value="토다이">토다이</label>
				<label><input type="checkbox" name="food" value="계란초밥">계란초밥</label>
			</li>
			<li>좋아하는 동물
				<select name="animal">
					<option value="카피바라">카피바라</option>
					<option value="쿼카">쿼카</option>
					<option value="코기">코기</option>
					<option value="시고르자브종">시고르자브종</option>
					<option value="칡">칡</option>
				</select>
			</li>
			<li>
				<input type="submit" value="확인">
				<input type="reset" value="취소">
			</li>
		</ul>
	</form>
</body>
</html>